body {
    font-family: Open Sans;
}
.header {

    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
    
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color:antiquewhite; */
    margin-left:200px;
}
.nav-bar h3{
   font-size: 45px;
   font-weight: 800;
}
.banner {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:200px;

}
.banner-content {
  width: 830px;
  height: 356px;

}
.banner-profile-pic{
   width:600px;

}

nav h3 span {
    color: #FD6E0A;
}
nav ul {
   display: flex;
   align-items: center;
}
nav ul li {
   text-decoration: none;
   list-style: none;
   margin-left: 50px;
   font-size: 20px;
}
nav ul a {
   text-decoration: none;
   color: #474747;
}
/* shared */
.primary-button {
    background-color:#FD6E0A;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding-top:18px;
    padding-bottom:18px;
    padding-right:35px;
    padding-left:35px;

}
.developer-image {
    
}
.dark-2 {
    color: #474747;
}
.dark-1 {
    color: #181818;
}
.dark-3 {
    color:#757575;
}